.timeline{
    padding: 0 !important;
}

/* Header */

/* Header title */
.timeline .timeline_header{
    padding-top: 7px !important;
}

.timeline .timeline_1{
    min-height: 80px !important;
}

.timeline .MuiTimelineDot-root{
    min-height: 0px !important;
}

.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none;
}

.timeline .timeline_dot_header{
    color: black !important;
    background-color: var(--main-color) !important;
    font-size: small !important;
    padding: 3px !important;
}

/* Items */

.timeline .timeline_dot{
    color: black !important;
    border-color: var(--main-color) !important;
    padding: 2px !important;
}

.timeline .MuiTimelineConnector-root{
    background-color: #eee !important;
}

.timeline .timeline_dot_header > .MuiSvgIcon-root {
    font-size: 20px;
    color: darkslategray;
}

.timeline .separator_padding{
   padding-left: 11px !important;
}

.timeline .timeline_content {
    padding-top: 0px !important;
    margin-bottom: 10px !important;
}

